div {
    border: 1px solid black;
    padding: 5px;
}

#table {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    height: 900px;
}

.card {
    border: 4px solid black;
    border-radius: 10px;
    width: 200px;
}

.card img {
    width: 95%;
}

.stats {
    display: flex;
}

