* {
  color: #d3d4d9;
  font-family: 'Helvetica', 'Arial';
}

body {
  width: 80%;
  margin: auto;
}

header {
  border: 5px solid #252627;
  background-color: #f71735;
  margin-bottom: 10px;
  padding: 10px;
}

nav {
  border: 5px solid #252627;
  background-color: #4b88a2;
  margin-bottom: 10px;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
}

article {
  border: 5px solid #252627;
  background-color: #4b88a2;
  margin-bottom: 10px;
  padding: 10px;
}

article img {
  max-width: 20%;
  text-wrap: wrap;
}

footer {
  border: 5px solid #252627;
  background-color: #4b88a2;
  padding: 10px;
  text-align: center;
}